<!DOCTYPE html>
<head>
  <title>US States Quiz</title>
</head>
<body ng-app="Mapquiz">
  <div ng-controller="MapquizController">
    <h1>US States Quiz</h1>

    <p ng-if="start">
      Time remaining: {{ timeRemaining | secondsToDateTime | date:'mm:ss' }}
    </p>
    <p ng-if="start">
      {{ statesFound.length }} / 50 states
    </p>

    <button ng-if="!start" ng-click="startButton()">{{ buttonText }}</button>
    <button ng-if="start" ng-click="stopButton()">Give up</button>

    <input type="text" ng-model="userInput" ng-disabled="!start" id="userInput">

    <object id="us-map" data="usmap.svg" type="image/svg+xml"></object>
    <!-- map from here https://commons.wikimedia.org/wiki/File:Map_of_USA_with_state_names.svg -->

    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="mapquiz.js"></script>

    <!--script>
      document.getElementById("us-map").addEventListener("load", function() {
        var doc = this.getSVGDocument();
        var txt = doc.getElementById("text828"); // suppose our image contains a <#text828>
        txt.textContent = "Moi";
      });
    </script-->
  </div>
</body>
